*{
    margin:0px;
    box-sizing: border-box;
    padding: 0px;
    overflow-x: hidden;

}

.titleBar{
   width: 100vw;
   height:20vh;
   font-size: xx-large;
   color: white;
   font-family: 'Times New Roman', Times, serif;
   background-color: #040d1a;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;

}
.playerChoices{
    width: 100vw;
    height:37vh;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top:10px;
   margin-top:0.5rem;
    gap: 3rem;
}
#rock{
    width:200px;
    height:200px;
    background-image: url("rock.png");
    background-size: cover;
    border-radius: 50%;
    padding-right: 20px;
    object-fit: cover;
}
#paper{
    width:200px;
    height:200px;
    background-image: url("paper.png");
    background-size: cover;
    border-radius: 50%;
    padding-right: 20px;
    object-fit: cover;
}
#scissor{
    width:200px;
    height:200px;
    background-image: url("scissors.png");
    background-size: cover;
    border-radius: 50%;
    padding-right: 20px;
    object-fit: cover;

}
.icon{
    transition-property: all;
    transition-duration: 5ms;
    transition-timing-function:steps(1);
}
.icon:hover{
    
    border: 5px solid black;
   
}

#score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 30vh;
    margin-left: 25vw;
    margin-top: 2vh;
}
#sb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 25vh;

}
#you{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
}
#Ynumber{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 20vw;
    height: 10vh;
}
#Yname{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 20vw;
    height: 15vh;
}
#computer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vh;
}
#Cnumber{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 20vw;
    height: 10vh;
}
#Cname{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    width: 20vw;
    height: 15vh;
}
#res{
    width: 30vw;
    height: 40px;
    bottom: 10px;
    border-radius: 5%;
    background-color: greenyellow;
    color: aliceblue;
    display :inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}



